body{
    margin: 0;
    padding: 20px;
    box-sizing: 0;
    font-family: 'Cardo', serif;
    background-color: #f7f7f7f7;
}

.container{
    background-color: rgba(128, 128, 128, 0.093);
    padding: 20px;
    box-shadow: 10px 7px 10px rgba(0, 0,  0, .2);
    box-shadow: #f7f7f7f7;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    margin: 250px auto;
}

h1{
    font-size: 38px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 20px;
}

input{
    padding: 8px;
    border: 1px solid #cccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}


button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: rgba(10, 80, 141, 0.974);
}


#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    
}